.main-container {
    position: relative;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.7);  */
    z-index: 10;
}
.main {
    padding: 1%;
}
.templatetxt {
    font-weight: 500;
    font-family: sans-serif;
    font-size: x-large;
}
.createtempdiv2 {
    width: 77%;
}
.divcontainer2 {
    width: 100%;
}

.templateContent3 {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    padding: 1rem;
    padding-bottom: 2.5rem;
    margin-top: 1rem;
}
.nameLan {
    display: flex;
    margin-top: 0.3rem;
}

.namediv {
    display: grid;
    width: 100%;
    position: relative;
}
.nameInput {
    padding: 0.5rem;
    padding-right: 4rem;
    border-color: #80808087;
    border-radius: 5px;
    border-top-color: #dddbdb87;
    border-left-color: #dddbdb87;
}
.tempname-count {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
}
.templateContent4 {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    padding: 1rem;
    padding-bottom: 2.5rem;
    margin-top: 1rem;
}
.tempHead {
    font-size: 21px;
    font-weight: 600;
}
.conInput {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: #80808087;
    padding-left: 0;
    padding-right: 0;
}
.authContent1 {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    padding: 1rem;
    padding-bottom: 2.5rem;
    margin-top: 1rem;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.radio-item {
    margin-bottom: 20px;
}

.radio-name {
    color: black;
    transform: scale(1);
    margin-top: 0.2rem;
}

.radio {
    display: flex;
    align-items: self-end;
    cursor: pointer;
}

.radio-label {
    color: black;
    font-size: 14px;
}

.templatebtn {
    /* width: 95%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2%;
    position: sticky;
    bottom: 0;
}
.footer-btn{
    display: flex;
    align-items: center;
}
.footer-desp{
    margin-left: 1rem;
}

label{
    font-size: larger;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.contentType{
    margin-top: 0.5rem;
}

.contentType pre {
    /* background-color: #f5f5f5; */
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap; /* Allow wrapping text if it's too long */
    word-wrap: break-word;
}

.editor-div{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(201, 201, 201);
    padding: 1rem;
    padding-bottom: 0.6rem;
}

.Content4{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    width: 95%;
    margin-top: 1rem;
}

.run-btn{
    background: white;
    border-radius: 4px;
    border: 1px solid darkgrey;
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 14px;
}
.editor{
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.json-container {
    padding: 10px;
    padding-top: 0;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    max-height: 700px;
}

.json-line {
    display: block;
    margin-bottom: 5px;
    width: max-content;
}

.line-number {
    color: #888;
    display: inline-block;
    width: 30px;
    text-align: right;
    margin-right: 1.5rem;
}

.json-text {
    display: inline;
    font-family: monospace;
    white-space: pre-wrap;
}
.foot-div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 2px solid rgb(201, 201, 201);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.foot-left{
    display: flex;
    gap: 1.7rem;
}
.error-rate{
    color: green;
    background: #0080002e;
    border-radius: 10px;
    padding: 0.1rem;
    padding-top: 0;
    padding-bottom: 0;
}
.err{
    width: -webkit-fill-available;
}
.puzzle{
    display: grid;
    align-items: center;
    width: fit-content;
    background: #00804E;
    border-radius: 5px;
    padding: 0.5rem;
}
/* #00804E */
img{
    width: 1.5rem;
}
.name-header{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.formatted-text1 {
    display: flex;
    align-items: center;
}

.segment {
    margin: 0 5px;
    /* Adjust spacing as needed */
}

.one{
    color: #e79b0e;
    background: #ffa50026;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 5px;
}
.two {
    color: #797878;
}

.dot {
    color: #797878;
    margin-bottom: 0.2rem;
    font-size: 15px;
    line-height: 1;
}
.flow-name{
    font-weight: bold;
    font-size: large;
}