:host{
    position: relative;
}

/* Backdrop covers the entire component */
.license-error {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dark overlay */
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* Centered popup */
.popup-container {
    background: #b71c1c; /* Dark red for warning */
    color: white;
    padding: 24px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 535px;
    text-align: center;
    font-family: Arial, sans-serif;
    animation: fadeIn 0.5s ease-in-out;
}

/* Styling for title */
.popup-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Styling for message */
.popup-content p {
    font-size: 16px;
    margin: 0;
}

.error-message{
    color: white;
    padding: 20px;
    font-size: 16px;
    text-align: center;
}

.cust-bt {
    background-color: #ffcd00;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 23px;
    padding: 0.70rem;
    transition: all 235ms ease-in-out;
    touch-action: manipulation;
}

.cust-bt:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.cust-bt:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

a{
    color: black;
}