lightning-pill .slds-pill{
    width: 100%;
    padding: 0.3rem;
    padding-left: 0.5rem;
}

.slds-form-element .slds-form-element__label{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: black;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.show-bgGroup .slds-pill .slds-pill__remove{
    display: none;
}